@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.video{
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
}

.video__player{
     height: 100%;
     width: 100%;
     object-fit: fill;
}